In [3]:
import pandas as pd
import numpy as np
import pymysql

In [5]:
import os
from dotenv import load_dotenv
load_dotenv()

global db
global cursor

db = pymysql.connect(
    host="localhost", 
    port=3306, 
    user="dokebi", 
    passwd="dokebi@@1234", 
    db="dokebi", 
    charset='utf8'
)

cursor = db.cursor()

In [6]:
excel_file_path = './data/dataTmp.xlsx'

# 엑셀 파일의 각 시트를 다른 변수에 저장
menu_info = pd.read_excel(excel_file_path, sheet_name='Sheet1', header = 0, index_col = 0)
user_info = pd.read_excel(excel_file_path, sheet_name='Sheet2', header = 0, index_col = 0)

In [7]:
print(menu_info)

         바지락  면  파  다시마  멸치  국간장  진간장  고춧가루  떡  어묵  ...  양상추  토마토  체다치즈  \
바지락칼국수     3  3  2    2   1    1    0     1  0   0  ...    0    0     0
떡볶이        0  0  0    0   0    1    0     0  3   3  ...    0    0     0
해물찜        0  0  0    0   0    1    0     0  0   0  ...    0    0     0
초밥         0  0  0    0   0    1    0     0  0   2  ...    0    0     0
돈가스        0  0  0    0   0    0    0     0  0   0  ...    0    0     0
샤브샤브       0  0  0    0   0    1    0     0  0   0  ...    0    0     0
김치찌개       0  0  0    0   0    1    0     1  0   0  ...    0    0     0
고등어구이      0  0  0    0   0    0    1     0  0   0  ...    0    0     0
햄버거        0  0  0    0   0    0    0     0  0   0  ...    2    2     2
짜장면        0  3  0    0   0    0    1     0  0   0  ...    0    0     0
치킨         0  3  0    0   0    0    1     1  0   0  ...    0    0     0
삼겹살        0  0  0    0   0    0    1     1  0   0  ...    0    0     0
돼지갈비       0  0  0    0   0    0    1     1  0   0  ...    0    0     0
어쨌든해물음식    0  0  0    0   0    1    0     0  0   0  ...    0    0     0

         모짜렐라치즈  케첩  마요네즈  양배추  참기름  다진마늘  해물
바지락칼국수        0   0     0    0    0     0   3
떡볶이           0   0     0    0    0     0   0
해물찜           0   0     0    0    0     0   3
초밥            0   0     0    0    0     0   3
돈가스           0   0     0    0    0     0   0
샤브샤브          0   0     0    0    0     0   2
김치찌개          0   0     0    0    0     0   0
고등어구이         0   0     0    0    0     0   3
햄버거           0   1     1    0    0     0   0
짜장면           0   0     0    2    0     0   0
치킨            0   0     0    0    0     1   0
삼겹살           0   0     0    0    1     1   0
돼지갈비          0   0     0    0    0     1   0
어쨌든해물음식       0   0     0    0    0     0   3

[14 rows x 52 columns]

In [ ]:
cursor.execute("SELECT * FROM mi")
rslt = cursor.fetchall()
for row in rslt:
    print(row)

In [ ]:
# 재료 더미 데이터 추가
id = 1
for i in menu_info.columns:
    cursor.execute("INSERT INTO mi (mi_id, mi_name) VALUES (%s, %s)", (id,i))
    id += 1

In [ ]:
cursor.execute("SELECT * FROM recipe")
rslt = cursor.fetchall()
for row in rslt:
    print(row)

In [ ]:
# 조리법 데이터 추가
idx = 1
for row in range(0, menu_info.shape[0]):
    for col in range(0, menu_info.shape[1]):
        if menu_info.iloc[row,col] == 1:
            cursor.execute("INSERT INTO recipe (recipe_id, menu_id, mi_id) VALUE ( %s, %s, %s )", ( idx, row+1, col+1 ))
            idx += 1

In [ ]:
idx = 2
flag = 0
for row in menu_info.index:
    if(idx > 6):
        cursor.execute("INSERT INTO menu VALUE (%s, %s, %s, %s)",(idx, row, 1, idx%6+1))
    idx += 1

cursor.execute("SELECT * FROM menu")
rslt = cursor.fetchall()
for row in rslt:
    print(row)

In [ ]:
cursor.execute("SELECT * FROM menu")
rslt = cursor.fetchall()
for row in rslt:
    print(row)

In [ ]:
db.commit()

In [ ]:
db.close()