In [1]:
import pandas as pd
import numpy as np
import pymysql

In [58]:
import pandas as pd
import numpy as np
import pymysql

global db
global cursor

db = pymysql.connect(
    host="localhost", 
    port=3306, 
    user="dokebi", 
    passwd="dokebi@@1234", 
    db="dokebi", 
    charset='utf8'
)

cursor = db.cursor()

In [3]:
# # 카테고리 추가
# cursor.execute("INSERT INTO `cate` (`cate_id`, `cate_image`, `cate_name`) VALUES ('1', '1', '한식')")
# # 조리방법 추가
# cursor.execute("INSERT INTO `dokebi`.`wtc` (`wtc_id`, `wtc_name`) VALUES ('1', '굽기')")
# cursor.execute("INSERT INTO `dokebi`.`wtc` (`wtc_id`, `wtc_name`) VALUES ('2', '찌기');")
# cursor.execute("INSERT INTO `dokebi`.`wtc` (`wtc_id`, `wtc_name`) VALUES ('3', '튀기기');")
# cursor.execute("INSERT INTO `dokebi`.`wtc` (`wtc_id`, `wtc_name`) VALUES ('4', '삶기');")
# cursor.execute("INSERT INTO `dokebi`.`wtc` (`wtc_id`, `wtc_name`) VALUES ('5', '조림');")
# cursor.execute("INSERT INTO `dokebi`.`wtc` (`wtc_id`, `wtc_name`) VALUES ('6', '생식');")
# cursor.execute("INSERT INTO `dokebi`.`wtc` (`wtc_id`, `wtc_name`) VALUES ('7', '데치기');")

In [55]:
excel_file_path = './data/dataTmp.xlsx'

# 엑셀 파일의 각 시트를 다른 변수에 저장
menu_info = pd.read_excel(excel_file_path, sheet_name='Sheet1', header = 0, index_col = 0)
user_info = pd.read_excel(excel_file_path, sheet_name='Sheet2', header = 0, index_col = 0)

In [5]:
print(menu_info)

          바지락  면  파  다시마  멸치  국간장  진간장  고춧가루  떡  어묵  ...  양상추  토마토  체다치즈  \
바지락칼국수      3  3  2    2   1    1    0     1  0   0  ...    0    0     0
떡볶이         0  0  0    0   0    1    0     0  3   3  ...    0    0     0
해물찜         0  0  0    0   0    1    0     0  0   0  ...    0    0     0
초밥          0  0  0    0   0    1    0     0  0   2  ...    0    0     0
돈가스         0  0  0    0   0    0    0     0  0   0  ...    0    0     0
샤브샤브        0  0  0    0   0    1    0     0  0   0  ...    0    0     0
김치찌개        0  0  0    0   0    1    0     1  0   0  ...    0    0     0
고등어구이       0  0  0    0   0    0    1     0  0   0  ...    0    0     0
햄버거         0  0  0    0   0    0    0     0  0   0  ...    2    2     2
짜장면         0  3  0    0   0    0    1     0  0   0  ...    0    0     0
치킨          0  3  0    0   0    0    1     1  0   0  ...    0    0     0
삼겹살         0  0  0    0   0    0    1     1  0   0  ...    0    0     0
돼지갈비        0  0  0    0   0    0    1     1  0   0  ...    0    0     0
어쨌든해물찜      0  0  0    0   0    1    0     0  0   0  ...    0    0     0
어쨌든초밥       0  0  0    0   0    1    0     0  0   2  ...    0    0     0
어쨌든돈가스      0  0  0    0   0    0    0     0  0   0  ...    0    0     0
어쨌든샤브샤브     0  0  0    0   0    1    0     0  0   0  ...    0    0     0
어쨌든김치찌개     0  0  0    0   0    1    0     1  0   0  ...    0    0     0
어쨌든고등어구이    0  0  0    0   0    0    1     0  0   0  ...    0    0     0
어쨌든햄버거      0  0  0    0   0    0    0     0  0   0  ...    2    2     2

          모짜렐라치즈  케첩  마요네즈  양배추  참기름  다진마늘  해물
바지락칼국수         0   0     0    0    0     0   3
떡볶이            0   0     0    0    0     0   0
해물찜            0   0     0    0    0     0   3
초밥             0   0     0    0    0     0   3
돈가스            0   0     0    0    0     0   0
샤브샤브           0   0     0    0    0     0   2
김치찌개           0   0     0    0    0     0   0
고등어구이          0   0     0    0    0     0   3
햄버거            0   1     1    0    0     0   0
짜장면            0   0     0    2    0     0   0
치킨             0   0     0    0    0     1   0
삼겹살            0   0     0    0    1     1   0
돼지갈비           0   0     0    0    0     1   0
어쨌든해물찜         0   0     0    0    0     0   3
어쨌든초밥          0   0     0    0    0     0   3
어쨌든돈가스         0   0     0    0    0     0   0
어쨌든샤브샤브        0   0     0    0    0     0   2
어쨌든김치찌개        0   0     0    0    0     0   0
어쨌든고등어구이       0   0     0    0    0     0   3
어쨌든햄버거         0   1     1    0    0     0   0

[20 rows x 52 columns]

In [6]:
# 재료 더미 데이터 추가
id = 1
for i in menu_info.columns:
    cursor.execute("INSERT INTO mi (mi_id, mi_name) VALUES (%s, %s)", (id,i))
    id += 1

In [7]:
cursor.execute("SELECT * FROM mi")
rslt = cursor.fetchall()
for row in rslt:
    print(row)

(1, '바지락')
(2, '면')
(3, '파')
(4, '다시마')
(5, '멸치')
(6, '국간장')
(7, '진간장')
(8, '고춧가루')
(9, '떡')
(10, '어묵')
(11, '양파')
(12, '대파')
(13, '계란')
(14, '고추장')
(15, '설탕')
(16, '오징어')
(17, '새우')
(18, '문어')
(19, '당근')
(20, '두부')
(21, '버섯')
(22, '콩나물')
(23, '마늘')
(24, '생강')
(25, '광어')
(26, '연어')
(27, '우럭')
(28, '쌀')
(29, '식초')
(30, '와사비')
(31, '돼지고기')
(32, '빵가루')
(33, '소금')
(34, '후추')
(35, '식용유')
(36, '소고기')
(37, '조개')
(38, '배추')
(39, '무')
(40, '김치')
(41, '고등어')
(42, '닭고기')
(43, '양상추')
(44, '토마토')
(45, '체다치즈')
(46, '모짜렐라치즈')
(47, '케첩')
(48, '마요네즈')
(49, '양배추')
(50, '참기름')
(51, '다진마늘')
(52, '해물')

In [8]:
idx = 1
for row in menu_info.index:
    cursor.execute("INSERT INTO menu VALUE (%s, %s, %s, %s)",(idx, row, 1, idx%6+1))
    idx += 1

cursor.execute("SELECT * FROM menu")
rslt = cursor.fetchall()
for row in rslt:
    print(row)

(1, '바지락칼국수', 1, 2)
(2, '떡볶이', 1, 3)
(3, '해물찜', 1, 4)
(4, '초밥', 1, 5)
(5, '돈가스', 1, 6)
(6, '샤브샤브', 1, 1)
(7, '김치찌개', 1, 2)
(8, '고등어구이', 1, 3)
(9, '햄버거', 1, 4)
(10, '짜장면', 1, 5)
(11, '치킨', 1, 6)
(12, '삼겹살', 1, 1)
(13, '돼지갈비', 1, 2)
(14, '어쨌든해물찜', 1, 3)
(15, '어쨌든초밥', 1, 4)
(16, '어쨌든돈가스', 1, 5)
(17, '어쨌든샤브샤브', 1, 6)
(18, '어쨌든김치찌개', 1, 1)
(19, '어쨌든고등어구이', 1, 2)
(20, '어쨌든햄버거', 1, 3)

In [9]:
cursor.execute("SELECT * FROM menu")
rslt = cursor.fetchall()
for row in rslt:
    print(row)

(1, '바지락칼국수', 1, 2)
(2, '떡볶이', 1, 3)
(3, '해물찜', 1, 4)
(4, '초밥', 1, 5)
(5, '돈가스', 1, 6)
(6, '샤브샤브', 1, 1)
(7, '김치찌개', 1, 2)
(8, '고등어구이', 1, 3)
(9, '햄버거', 1, 4)
(10, '짜장면', 1, 5)
(11, '치킨', 1, 6)
(12, '삼겹살', 1, 1)
(13, '돼지갈비', 1, 2)
(14, '어쨌든해물찜', 1, 3)
(15, '어쨌든초밥', 1, 4)
(16, '어쨌든돈가스', 1, 5)
(17, '어쨌든샤브샤브', 1, 6)
(18, '어쨌든김치찌개', 1, 1)
(19, '어쨌든고등어구이', 1, 2)
(20, '어쨌든햄버거', 1, 3)

In [10]:
# 조리법 데이터 추가
idx = 1
for row in range(0, menu_info.shape[0]):
    for col in range(0, menu_info.shape[1]):
        if menu_info.iloc[row,col] == 1:
            cursor.execute("INSERT INTO recipe (recipe_id, menu_id, mi_id) VALUE ( %s, %s, %s )", ( idx, row+1, col+1 ))
            idx += 1

In [11]:
cursor.execute("SELECT * FROM recipe")
rslt = cursor.fetchall()
for row in rslt:
    print(row)

(1, 1, 5)
(2, 1, 6)
(3, 1, 8)
(4, 2, 6)
(5, 2, 14)
(6, 2, 15)
(7, 3, 6)
(8, 3, 14)
(9, 3, 23)
(10, 3, 24)
(11, 4, 6)
(12, 4, 15)
(13, 4, 24)
(14, 4, 30)
(15, 5, 33)
(16, 5, 34)
(17, 5, 35)
(18, 6, 6)
(19, 7, 6)
(20, 7, 8)
(21, 7, 14)
(22, 8, 7)
(23, 9, 47)
(24, 9, 48)
(25, 10, 7)
(26, 10, 14)
(27, 10, 35)
(28, 11, 7)
(29, 11, 8)
(30, 11, 15)
(31, 11, 51)
(32, 12, 7)
(33, 12, 8)
(34, 12, 14)
(35, 12, 50)
(36, 12, 51)
(37, 13, 7)
(38, 13, 8)
(39, 13, 15)
(40, 13, 24)
(41, 13, 51)
(42, 14, 6)
(43, 14, 14)
(44, 14, 23)
(45, 14, 24)
(46, 15, 6)
(47, 15, 15)
(48, 15, 24)
(49, 15, 30)
(50, 16, 33)
(51, 16, 34)
(52, 16, 35)
(53, 17, 6)
(54, 18, 6)
(55, 18, 8)
(56, 18, 14)
(57, 19, 7)
(58, 20, 47)
(59, 20, 48)

In [45]:
excel_file_path = './data/dataTmp.xlsx'

# 엑셀 파일의 각 시트를 다른 변수에 저장
vip_info = pd.read_excel(excel_file_path, sheet_name='Sheet5', header = None, index_col = None )

In [46]:
for i in range(0, vip_info.shape[0]):
    print(vip_info.iloc[i,0],vip_info.iloc[i,1],vip_info.iloc[i,2],vip_info.iloc[i,3],vip_info.iloc[i,4])
    cursor.execute("INSERT INTO vip VALUE (%s, %s, %s, %s, %s, %s)",(vip_info.iloc[i,0],False,vip_info.iloc[i,2],vip_info.iloc[i,3],vip_info.iloc[i,4],vip_info.iloc[i,5]))

1 0 1940 할무니 1

ProgrammingError: (1146, "Table 'dokebi.vip' doesn't exist")

In [41]:
cursor.execute("SELECT * from vip")
rslt = cursor.fetchall()
for row in rslt:
    print(row)

(1, b'\x00', 1940, '할무니', 1)
(2, b'\x00', 1940, '할아버지', 1)
(3, b'\x00', 1940, '엄마', 1)
(4, b'\x00', 1970, '아빠', 1)
(5, b'\x00', 1970, '외할머니', 1)
(6, b'\x00', 1970, '외할아버지', 1)
(7, b'\x00', 1940, '시어머니', 1)
(8, b'\x00', 1970, '시아버지', 1)
(9, b'\x00', 1930, '할무니', 1)
(10, b'\x00', 1970, '할아버지', 1)
(11, b'\x00', 1950, '엄마', 1)
(12, b'\x00', 1930, '아빠', 1)
(13, b'\x00', 1940, '외할머니', 1)
(14, b'\x00', 1960, '외할아버지', 1)
(15, b'\x00', 1950, '시어머니', 1)
(16, b'\x00', 1940, '시아버지', 1)
(17, b'\x00', 1950, '할무니', 1)
(18, b'\x00', 1960, '할아버지', 1)
(19, b'\x00', 1930, '엄마', 1)
(20, b'\x00', 1960, '아빠', 1)
(21, b'\x00', 1950, '외할머니', 1)
(22, b'\x00', 1960, '외할아버지', 1)
(23, b'\x00', 1960, '시어머니', 1)
(24, b'\x00', 1950, '시아버지', 1)
(25, b'\x00', 1950, '할무니', 1)
(26, b'\x00', 1950, '할아버지', 1)
(27, b'\x00', 1970, '엄마', 1)
(28, b'\x00', 1940, '아빠', 1)
(29, b'\x00', 1970, '외할머니', 1)
(30, b'\x00', 1970, '외할아버지', 1)
(31, b'\x00', 1950, '시어머니', 1)
(32, b'\x00', 1930, '시아버지', 1)
(33, b'\x00', 1960, '할무니', 1)
(34, b'\x00', 1950, '할아버지', 1)
(35, b'\x00', 1930, '엄마', 1)
(36, b'\x00', 1940, '아빠', 1)
(37, b'\x00', 1970, '외할머니', 1)
(38, b'\x00', 1960, '외할아버지', 1)
(39, b'\x00', 1970, '시어머니', 1)
(40, b'\x00', 1960, '시아버지', 1)
(41, b'\x00', 1950, '할무니', 1)
(42, b'\x00', 1930, '할아버지', 1)
(43, b'\x00', 1940, '엄마', 1)
(44, b'\x00', 1960, '아빠', 1)
(45, b'\x00', 1930, '외할머니', 1)
(46, b'\x00', 1960, '외할아버지', 1)
(47, b'\x00', 1970, '시어머니', 1)
(48, b'\x00', 1930, '시아버지', 1)
(49, b'\x00', 1950, '할무니', 1)
(50, b'\x00', 1960, '할아버지', 1)
(51, b'\x00', 1930, '엄마', 1)
(52, b'\x00', 1970, '아빠', 1)
(53, b'\x00', 1970, '외할머니', 1)
(54, b'\x00', 1940, '외할아버지', 1)
(55, b'\x00', 1940, '시어머니', 1)
(56, b'\x00', 1950, '시아버지', 1)
(57, b'\x00', 1970, '할무니', 1)
(58, b'\x00', 1970, '할아버지', 1)
(59, b'\x00', 1930, '엄마', 1)
(60, b'\x00', 1930, '아빠', 1)
(61, b'\x00', 1950, '외할머니', 1)
(62, b'\x00', 1950, '외할아버지', 1)
(63, b'\x00', 1970, '시어머니', 1)
(64, b'\x00', 1960, '시아버지', 1)
(65, b'\x00', 1960, '할무니', 1)
(66, b'\x00', 1960, '할아버지', 1)
(67, b'\x00', 1960, '엄마', 1)
(68, b'\x00', 1960, '아빠', 1)
(69, b'\x00', 1950, '외할머니', 1)
(70, b'\x00', 1940, '외할아버지', 1)
(71, b'\x00', 1960, '시어머니', 1)
(72, b'\x00', 1960, '시아버지', 1)
(73, b'\x00', 1950, '할무니', 1)
(74, b'\x00', 1930, '할아버지', 1)
(75, b'\x00', 1950, '엄마', 1)
(76, b'\x00', 1950, '아빠', 1)
(77, b'\x00', 1970, '외할머니', 1)
(78, b'\x00', 1960, '외할아버지', 1)
(79, b'\x00', 1950, '시어머니', 1)
(80, b'\x00', 1930, '시아버지', 1)
(81, b'\x00', 1940, '할무니', 1)
(82, b'\x00', 1950, '할아버지', 1)
(83, b'\x00', 1940, '엄마', 1)
(84, b'\x00', 1950, '아빠', 1)
(85, b'\x00', 1960, '외할머니', 1)
(86, b'\x00', 1960, '외할아버지', 1)
(87, b'\x00', 1940, '시어머니', 1)
(88, b'\x00', 1940, '시아버지', 1)

In [59]:
# 선호 메뉴 저장
idx = 1;
for row in range(0, user_info.shape[0]):
    for col in range(0, user_info.shape[1]):
        if user_info.iloc[row,col] > 0:
            cursor.execute("INSERT INTO saved_menu VALUE ( %s, %s, %s )",(idx, row+1, col+1))
            idx+=1

In [60]:
cursor.execute("SELECT * from saved_menu")
rslt = cursor.fetchall()
for row in rslt:
    print(row)

(1, 1, 1)
(2, 1, 4)
(3, 1, 9)
(4, 1, 15)
(5, 1, 20)
(6, 2, 2)
(7, 2, 4)
(8, 2, 5)
(9, 2, 7)
(10, 2, 15)
(11, 2, 16)
(12, 2, 18)
(13, 3, 1)
(14, 3, 2)
(15, 3, 4)
(16, 3, 6)
(17, 3, 15)
(18, 3, 17)
(19, 4, 3)
(20, 4, 5)
(21, 4, 6)
(22, 4, 7)
(23, 4, 14)
(24, 4, 16)
(25, 4, 17)
(26, 4, 18)
(27, 5, 1)
(28, 5, 2)
(29, 5, 3)
(30, 5, 4)
(31, 5, 5)
(32, 5, 6)
(33, 5, 9)
(34, 5, 10)
(35, 5, 14)
(36, 5, 15)
(37, 5, 16)
(38, 5, 17)
(39, 5, 20)
(40, 6, 1)
(41, 6, 2)
(42, 6, 4)
(43, 6, 5)
(44, 6, 6)
(45, 6, 7)
(46, 6, 9)
(47, 6, 10)
(48, 6, 15)
(49, 6, 16)
(50, 6, 17)
(51, 6, 18)
(52, 6, 20)
(53, 7, 3)
(54, 7, 4)
(55, 7, 5)
(56, 7, 6)
(57, 7, 7)
(58, 7, 8)
(59, 7, 9)
(60, 7, 14)
(61, 7, 15)
(62, 7, 16)
(63, 7, 17)
(64, 7, 18)
(65, 7, 19)
(66, 7, 20)
(67, 8, 1)
(68, 8, 7)
(69, 8, 9)
(70, 8, 18)
(71, 8, 20)
(72, 9, 1)
(73, 9, 5)
(74, 9, 9)
(75, 9, 16)
(76, 9, 20)
(77, 10, 3)
(78, 10, 5)
(79, 10, 6)
(80, 10, 9)
(81, 10, 10)
(82, 10, 14)
(83, 10, 16)
(84, 10, 17)
(85, 10, 20)
(86, 11, 5)
(87, 11, 7)
(88, 11, 9)
(89, 11, 16)
(90, 11, 18)
(91, 11, 20)
(92, 12, 4)
(93, 12, 5)
(94, 12, 9)
(95, 12, 10)
(96, 12, 15)
(97, 12, 16)
(98, 12, 20)
(99, 13, 4)
(100, 13, 5)
(101, 13, 6)
(102, 13, 15)
(103, 13, 16)
(104, 13, 17)
(105, 14, 2)
(106, 14, 7)
(107, 14, 9)
(108, 14, 18)
(109, 14, 20)
(110, 15, 4)
(111, 15, 6)
(112, 15, 8)
(113, 15, 15)
(114, 15, 17)
(115, 15, 19)
(116, 16, 1)
(117, 16, 2)
(118, 16, 9)
(119, 16, 20)
(120, 17, 1)
(121, 17, 3)
(122, 17, 4)
(123, 17, 7)
(124, 17, 8)
(125, 17, 14)
(126, 17, 15)
(127, 17, 18)
(128, 17, 19)
(129, 18, 1)
(130, 18, 2)
(131, 18, 3)
(132, 18, 4)
(133, 18, 5)
(134, 18, 6)
(135, 18, 7)
(136, 18, 8)
(137, 18, 9)
(138, 18, 14)
(139, 18, 15)
(140, 18, 16)
(141, 18, 17)
(142, 18, 18)
(143, 18, 19)
(144, 18, 20)
(145, 19, 1)
(146, 19, 2)
(147, 19, 4)
(148, 19, 5)
(149, 19, 6)
(150, 19, 7)
(151, 19, 8)
(152, 19, 9)
(153, 19, 10)
(154, 19, 15)
(155, 19, 16)
(156, 19, 17)
(157, 19, 18)
(158, 19, 19)
(159, 19, 20)
(160, 20, 2)
(161, 20, 4)
(162, 20, 5)
(163, 20, 7)
(164, 20, 15)
(165, 20, 16)
(166, 20, 18)
(167, 21, 4)
(168, 21, 5)
(169, 21, 10)
(170, 21, 15)
(171, 21, 16)
(172, 22, 1)
(173, 22, 2)
(174, 22, 3)
(175, 22, 5)
(176, 22, 6)
(177, 22, 7)
(178, 22, 8)
(179, 22, 9)
(180, 22, 10)
(181, 22, 14)
(182, 22, 16)
(183, 22, 17)
(184, 22, 18)
(185, 22, 19)
(186, 22, 20)
(187, 23, 2)
(188, 23, 5)
(189, 23, 6)
(190, 23, 16)
(191, 23, 17)
(192, 24, 2)
(193, 24, 9)
(194, 24, 10)
(195, 24, 20)
(196, 25, 1)
(197, 25, 2)
(198, 25, 5)
(199, 25, 6)
(200, 25, 7)
(201, 25, 9)
(202, 25, 10)
(203, 25, 16)
(204, 25, 17)
(205, 25, 18)
(206, 25, 20)
(207, 26, 4)
(208, 26, 5)
(209, 26, 9)
(210, 26, 15)
(211, 26, 16)
(212, 26, 20)
(213, 27, 4)
(214, 27, 5)
(215, 27, 6)
(216, 27, 7)
(217, 27, 9)
(218, 27, 15)
(219, 27, 16)
(220, 27, 17)
(221, 27, 18)
(222, 27, 20)
(223, 28, 4)
(224, 28, 6)
(225, 28, 9)
(226, 28, 10)
(227, 28, 15)
(228, 28, 17)
(229, 28, 20)
(230, 29, 4)
(231, 29, 5)
(232, 29, 10)
(233, 29, 15)
(234, 29, 16)
(235, 30, 2)
(236, 30, 6)
(237, 30, 9)
(238, 30, 17)
(239, 30, 20)
(240, 31, 5)
(241, 31, 9)
(242, 31, 10)
(243, 31, 16)
(244, 31, 20)
(245, 32, 2)
(246, 32, 5)
(247, 32, 10)
(248, 32, 16)
(249, 33, 1)
(250, 33, 2)
(251, 33, 6)
(252, 33, 9)
(253, 33, 10)
(254, 33, 17)
(255, 33, 20)
(256, 34, 1)
(257, 34, 2)
(258, 34, 3)
(259, 34, 4)
(260, 34, 5)
(261, 34, 6)
(262, 34, 7)
(263, 34, 8)
(264, 34, 9)
(265, 34, 10)
(266, 34, 14)
(267, 34, 15)
(268, 34, 16)
(269, 34, 17)
(270, 34, 18)
(271, 34, 19)
(272, 34, 20)
(273, 35, 1)
(274, 35, 2)
(275, 35, 5)
(276, 35, 6)
(277, 35, 9)
(278, 35, 10)
(279, 35, 16)
(280, 35, 17)
(281, 35, 20)
(282, 36, 2)
(283, 36, 3)
(284, 36, 4)
(285, 36, 6)
(286, 36, 7)
(287, 36, 9)
(288, 36, 14)
(289, 36, 15)
(290, 36, 17)
(291, 36, 18)
(292, 36, 20)
(293, 37, 2)
(294, 37, 8)
(295, 37, 9)
(296, 37, 19)
(297, 37, 20)
(298, 38, 1)
(299, 38, 6)
(300, 38, 7)
(301, 38, 17)
(302, 38, 18)
(303, 39, 4)
(304, 39, 6)
(305, 39, 9)
(306, 39, 10)
(307, 39, 15)
(308, 39, 17)
(309, 39, 20)
(310, 40, 1)
(311, 40, 4)
(312, 40, 8)
(313, 40, 15)
(314, 40, 19)
(315, 41, 1)
(316, 41, 2)
(317, 41, 3)
(318, 41, 4)
(319, 41, 6)
(320, 41, 8)
(321, 41, 14)
(322, 41, 15)
(323, 41, 17)
(324, 41, 19)
(325, 42, 1)
(326, 42, 4)
(327, 42, 6)
(328, 42, 9)
(329, 42, 15)
(330, 42, 17)
(331, 42, 20)
(332, 43, 2)
(333, 43, 3)
(334, 43, 4)
(335, 43, 5)
(336, 43, 6)
(337, 43, 7)
(338, 43, 9)
(339, 43, 10)
(340, 43, 14)
(341, 43, 15)
(342, 43, 16)
(343, 43, 17)
(344, 43, 18)
(345, 43, 20)
(346, 44, 2)
(347, 44, 3)
(348, 44, 5)
(349, 44, 7)
(350, 44, 9)
(351, 44, 10)
(352, 44, 14)
(353, 44, 16)
(354, 44, 18)
(355, 44, 20)
(356, 45, 1)
(357, 45, 6)
(358, 45, 10)
(359, 45, 17)
(360, 46, 2)
(361, 46, 9)
(362, 46, 10)
(363, 46, 20)
(364, 47, 1)
(365, 47, 3)
(366, 47, 6)
(367, 47, 14)
(368, 47, 17)
(369, 48, 1)
(370, 48, 3)
(371, 48, 4)
(372, 48, 6)
(373, 48, 14)
(374, 48, 15)
(375, 48, 17)
(376, 49, 3)
(377, 49, 6)
(378, 49, 10)
(379, 49, 14)
(380, 49, 17)
(381, 50, 1)
(382, 50, 3)
(383, 50, 4)
(384, 50, 6)
(385, 50, 7)
(386, 50, 9)
(387, 50, 10)
(388, 50, 14)
(389, 50, 15)
(390, 50, 17)
(391, 50, 18)
(392, 50, 20)
(393, 51, 1)
(394, 51, 3)
(395, 51, 10)
(396, 51, 14)
(397, 52, 1)
(398, 52, 7)
(399, 52, 8)
(400, 52, 18)
(401, 52, 19)
(402, 53, 1)
(403, 53, 2)
(404, 53, 4)
(405, 53, 15)
(406, 54, 1)
(407, 54, 3)
(408, 54, 6)
(409, 54, 14)
(410, 54, 17)
(411, 55, 2)
(412, 55, 8)
(413, 55, 10)
(414, 55, 19)
(415, 56, 4)
(416, 56, 9)
(417, 56, 10)
(418, 56, 15)
(419, 56, 20)
(420, 57, 3)
(421, 57, 4)
(422, 57, 6)
(423, 57, 14)
(424, 57, 15)
(425, 57, 17)
(426, 58, 1)
(427, 58, 2)
(428, 58, 9)
(429, 58, 20)
(430, 59, 1)
(431, 59, 4)
(432, 59, 6)
(433, 59, 15)
(434, 59, 17)
(435, 60, 1)
(436, 60, 6)
(437, 60, 10)
(438, 60, 17)
(439, 61, 1)
(440, 61, 3)
(441, 61, 6)
(442, 61, 14)
(443, 61, 17)
(444, 62, 1)
(445, 62, 3)
(446, 62, 6)
(447, 62, 7)
(448, 62, 8)
(449, 62, 10)
(450, 62, 14)
(451, 62, 17)
(452, 62, 18)
(453, 62, 19)
(454, 63, 1)
(455, 63, 3)
(456, 63, 7)
(457, 63, 8)
(458, 63, 14)
(459, 63, 18)
(460, 63, 19)
(461, 64, 1)
(462, 64, 3)
(463, 64, 8)
(464, 64, 14)
(465, 64, 19)
(466, 65, 1)
(467, 65, 7)
(468, 65, 8)
(469, 65, 18)
(470, 65, 19)
(471, 66, 1)
(472, 66, 2)
(473, 66, 3)
(474, 66, 5)
(475, 66, 6)
(476, 66, 7)
(477, 66, 8)
(478, 66, 10)
(479, 66, 14)
(480, 66, 16)
(481, 66, 17)
(482, 66, 18)
(483, 66, 19)
(484, 67, 4)
(485, 67, 6)
(486, 67, 10)
(487, 67, 15)
(488, 67, 17)
(489, 68, 1)
(490, 68, 3)
(491, 68, 6)
(492, 68, 14)
(493, 68, 17)
(494, 69, 1)
(495, 69, 5)
(496, 69, 10)
(497, 69, 16)
(498, 70, 3)
(499, 70, 6)
(500, 70, 10)
(501, 70, 14)
(502, 70, 17)
(503, 71, 1)
(504, 71, 3)
(505, 71, 6)
(506, 71, 9)
(507, 71, 10)
(508, 71, 14)
(509, 71, 17)
(510, 71, 20)
(511, 72, 3)
(512, 72, 5)
(513, 72, 7)
(514, 72, 14)
(515, 72, 16)
(516, 72, 18)
(517, 73, 4)
(518, 73, 7)
(519, 73, 9)
(520, 73, 15)
(521, 73, 18)
(522, 73, 20)
(523, 74, 1)
(524, 74, 6)
(525, 74, 10)
(526, 74, 17)
(527, 75, 1)
(528, 75, 3)
(529, 75, 10)
(530, 75, 14)
(531, 76, 3)
(532, 76, 7)
(533, 76, 8)
(534, 76, 14)
(535, 76, 18)
(536, 76, 19)
(537, 77, 1)
(538, 77, 2)
(539, 77, 3)
(540, 77, 6)
(541, 77, 7)
(542, 77, 14)
(543, 77, 17)
(544, 77, 18)
(545, 78, 1)
(546, 78, 5)
(547, 78, 6)
(548, 78, 16)
(549, 78, 17)
(550, 79, 1)
(551, 79, 3)
(552, 79, 6)
(553, 79, 10)
(554, 79, 14)
(555, 79, 17)
(556, 80, 3)
(557, 80, 4)
(558, 80, 6)
(559, 80, 14)
(560, 80, 15)
(561, 80, 17)
(562, 81, 2)
(563, 81, 8)
(564, 81, 10)
(565, 81, 19)
(566, 82, 1)
(567, 82, 4)
(568, 82, 10)
(569, 82, 15)
(570, 83, 3)
(571, 83, 6)
(572, 83, 7)
(573, 83, 14)
(574, 83, 17)
(575, 83, 18)
(576, 84, 1)
(577, 84, 3)
(578, 84, 8)
(579, 84, 14)
(580, 84, 19)
(581, 85, 1)
(582, 85, 3)
(583, 85, 4)
(584, 85, 5)
(585, 85, 6)
(586, 85, 9)
(587, 85, 10)
(588, 85, 14)
(589, 85, 15)
(590, 85, 16)
(591, 85, 17)
(592, 85, 20)
(593, 86, 3)
(594, 86, 6)
(595, 86, 7)
(596, 86, 14)
(597, 86, 17)
(598, 86, 18)
(599, 87, 1)
(600, 87, 3)
(601, 87, 6)
(602, 87, 9)
(603, 87, 14)
(604, 87, 17)
(605, 87, 20)
(606, 88, 1)
(607, 88, 3)
(608, 88, 5)
(609, 88, 14)
(610, 88, 16)

In [61]:
db.commit()

In [62]:
db.close()