In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
import pymysql

# DB 연결

In [48]:
import os
from dotenv import load_dotenv
load_dotenv()

global db
global cursor

db = pymysql.connect(
    host=os.getenv("MYSQL_HOST"), 
    port=3306, 
    user=os.getenv("MYSQL_USER"), 
    passwd=os.getenv("MYSQL_PASSWORD"), 
    db=os.getenv("MYSQL_DB"), 
    charset='utf8'
)

cursor = db.cursor()

In [24]:
# 훈련에 사용될 함수

In [4]:
# 실제 R 행렬과 예측 행렬의 오차를 구하는 함수
def calculate_rmse(R, P, Q, non_zeros):
    error = 0

    full_pred_matrix = np.dot(P, Q.T)

    # 여기서 non_zeros는 아래 함수에서 확인할 수 있다.
    x_non_zero_ind = [non_zeros[0] for non_zeros in non_zeros]
    y_non_zero_ind = [non_zeros[1] for non_zeros in non_zeros]

    # 원 행렬 R에서 0이 아닌 값들만 추출한다.
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]

    # 예측 행렬에서 원 행렬 R에서 0이 아닌 위치의 값들만 추출하여 저장한다.
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind, y_non_zero_ind]

    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros)
    rmse = np.sqrt(mse)

    return rmse

# 행렬분해하는 함수
def matrix_factorization(R, K, steps=200, learning_rate=0.01, r_lambda=0.01):
    num_users, num_items = R.shape

    np.random.seed(1)
    P = np.random.normal(scale=1.0/K, size=(num_users, K))
    Q = np.random.normal(scale=1.0/K, size=(num_items, K))
    
    # R>0인 행 위치, 열 위치, 값을 non_zeros 리스트에 저장한다.
    non_zeros = [ (i, j, R[i, j]) for i in range(num_users)
                  for j in range(num_items) if R[i, j] > 0 ]

    # SGD 기법으로 P, Q 매트릭스를 업데이트 함
    for step in range(steps):
        for i, j, r in non_zeros:
            # 잔차 구함
            eij = r - np.dot(P[i, :], Q[j, :].T)

            # Regulation을 반영한 SGD 업데이터 적용
            P[i, :] = P[i, :] + learning_rate*(eij * Q[j, :] - r_lambda*P[i, :])
            Q[j, :] = Q[j, :] + learning_rate*(eij * P[i, :] - r_lambda*Q[j, :])

        rmse = calculate_rmse(R, P, Q, non_zeros)
        if step % 10 == 0:
            print("iter step: {0}, rmse: {1:4f}".format(step, rmse))

    return P, Q

# 예측 확률 구하기
def predict(P, Q):
    return np.dot(P, Q.T)

# 에측결과를 토대로 메뉴 선택하기
# model_prac.ipynb -> predicted_menu_V4
def predicted_menu(predicted, userNo, nMenu):
    user_like_igd = predicted[userNo-1].copy();
    predicted_name = []

    user_like_menu = predict(user_like_igd, menu_info.arr*0.1)
    print(user_like_menu)
    for i in range(0,nMenu):
        max_idx = np.argmax(user_like_menu)
        if user_like_menu[max_idx] < 0 or user_like_menu[max_idx] == 0 : break
        predicted_name += [user_info.columns[max_idx]]
        # print(i, " : ", user_info.columns[max_idx])
        user_like_menu[max_idx] = 0
    return predicted_name

In [ ]:
# 서비스에 사용할 함수

In [ ]:
# 서버가 시작될 때 기본으로 실행될 함수

In [8]:
def makeDataSet():
    # 메뉴 데이터 가져오기
    cursor.execute("SELECT * FROM menu")
    menuInfo = cursor.fetchall()

    # 재료 데이터 가져오기
    cursor.execute("SELECT * FROM mi")
    ingredInfo = cursor.fetchall()
    
    # 조리법 데이터 가져오기
    cursor.execute("SELECT * from wtc")
    wtcInfo = cursor.fetchall()
    
    # 다 합치기
    data = pd.DataFrame()
    for row in menuInfo:

In [14]:
excel_file_path = './data/dataTmp.xlsx'

# 엑셀 파일의 각 시트를 다른 변수에 저장
menu_info = pd.read_excel(excel_file_path, sheet_name='Sheet1', header = 0, index_col = 0)
user_info = pd.read_excel(excel_file_path, sheet_name='Sheet2', header = 0, index_col = 0)

In [21]:
# 재료 더미 데이터 추가
id = 1
for i in menu_info.columns:
    cursor.execute("INSERT INTO mi (mi_id, mi_name) VALUES (%s, %s)", (id,i))
    id += 1

IntegrityError: (1062, "Duplicate entry '1' for key 'mi.PRIMARY'")

In [29]:
# 조리법 데이터 추가
idx = 1
for row in range(0, menu_info.shape[0]):
    for col in range(0, menu_info.shape[1]):
        if menu_info.iloc[row,col] == 1:
            cursor.execute("INSERT INTO recipe (recipe_id, menu_id, mi_id) VALUE ( %s, %s, %s )", ( idx, row, col ))
            idx += 1

cursor.execute("SELECT * FROM recipe")
rslt = cursor.fetchall()
for row in rslt:
    print(row)

IntegrityError: (1452, 'Cannot add or update a child row: a foreign key constraint fails (`dokebi`.`recipe`, CONSTRAINT `recipe_ibfk_1` FOREIGN KEY (`menu_id`) REFERENCES `menu` (`menu_id`))')

In [49]:

idx = 2
flag = 0
for row in menu_info.index:
    if(flag==0):
        flag = 1
        continue
    cursor.execute("INSERT INTO menu VALUE (%s, %s, %s, %s)",(idx, row, 1, idx%7))
    idx += 1

cursor.execute("SELECT * FROM menu")
rslt = cursor.fetchall()
for row in rslt:
    print(row)

OperationalError: (1205, 'Lock wait timeout exceeded; try restarting transaction')

In [46]:
cursor.execute("SELECT * FROM menu")
rslt = cursor.fetchall()
for row in rslt:
    print(row)

(1, '해장국', 1, 1)

In [42]:
print(menu_info)

         바지락  면  파  다시마  멸치  국간장  진간장  고춧가루  떡  어묵  ...  양상추  토마토  체다치즈  \
바지락칼국수     3  3  2    2   1    1    0     1  0   0  ...    0    0     0
떡볶이        0  0  0    0   0    1    0     0  3   3  ...    0    0     0
해물찜        0  0  0    0   0    1    0     0  0   0  ...    0    0     0
초밥         0  0  0    0   0    1    0     0  0   2  ...    0    0     0
돈가스        0  0  0    0   0    0    0     0  0   0  ...    0    0     0
샤브샤브       0  0  0    0   0    1    0     0  0   0  ...    0    0     0
김치찌개       0  0  0    0   0    1    0     1  0   0  ...    0    0     0
고등어구이      0  0  0    0   0    0    1     0  0   0  ...    0    0     0
햄버거        0  0  0    0   0    0    0     0  0   0  ...    2    2     2
짜장면        0  3  0    0   0    0    1     0  0   0  ...    0    0     0
치킨         0  3  0    0   0    0    1     1  0   0  ...    0    0     0
삼겹살        0  0  0    0   0    0    1     1  0   0  ...    0    0     0
돼지갈비       0  0  0    0   0    0    1     1  0   0  ...    0    0     0
어쨌든해물음식    0  0  0    0   0    1    0     0  0   0  ...    0    0     0

         모짜렐라치즈  케첩  마요네즈  양배추  참기름  다진마늘  해물
바지락칼국수        0   0     0    0    0     0   3
떡볶이           0   0     0    0    0     0   0
해물찜           0   0     0    0    0     0   3
초밥            0   0     0    0    0     0   3
돈가스           0   0     0    0    0     0   0
샤브샤브          0   0     0    0    0     0   2
김치찌개          0   0     0    0    0     0   0
고등어구이         0   0     0    0    0     0   3
햄버거           0   1     1    0    0     0   0
짜장면           0   0     0    2    0     0   0
치킨            0   0     0    0    0     1   0
삼겹살           0   0     0    0    1     1   0
돼지갈비          0   0     0    0    0     1   0
어쨌든해물음식       0   0     0    0    0     0   3

[14 rows x 52 columns]

In [47]:
db.close()